services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/bunker
      - ORIGIN=http://localhost:3000
      - BODY_SIZE_LIMIT=Infinity
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=bunker
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata_prod:
